.header {
    background: #ffffff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.06);

    
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
}

.welcome {
    font-size: 14px;
    color: #6b7280;
}
.logout-btn {
    background: #475569;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.25s;
}

.logout-btn:hover {
    background: #1e40af;
    transform: translateY(-2px);
}
